@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --teal: #3FB6AC;
  --teal-dark: #2ea8a1;
  --teal-input: rgba(255, 255, 255, 0.25);
  --white: #ffffff;
  --dark: #333333;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}